@import "../../css/colors.css";
@import "../../css/units.css";

.icon {
    width: 1.5rem;
    filter: $icon-filter;
}

.icon-filter {
    filter: $icon-filter;
}

.theme-label {
    flex: 1;
}

.option {
    display: flex;
    align-items: center;
    gap: .5rem;
}

[dir="ltr"] .inset {
    padding-left: 2rem;
}

[dir="rtl"] .inset {
    padding-right: 2rem;
}

.check-area {
    position: absolute;
	width: 2rem;
    height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

[dir="ltr"] .check-area {
    left: 0;
}

[dir="rtl"] .check-area {
    right: 0;
}

.selected {
    visibility: visible;
}

.submenu-label {
    flex: 1;
}

.dropdown-label {
    margin: 0 0.5rem 0 0.25rem;
}

[dir="rtl"] .dropdown-label {
    margin: 0 0.25rem 0 0.5rem;
}

.expand-caret {
    transform: rotate(-90deg);
}

[dir="rtl"] .expand-caret {
    transform: rotate(90deg);
}

/* Extra padding to deal with scrollbar overlapping options in Firefox */

[dir="ltr"] .language-menu-item {
    padding-right: 1rem;
}

[dir="rtl"] .language-menu-item {
    padding-left: 1rem;
}

.language-submenu {
    overflow: scroll;
    max-height: calc(100vh - $menu-bar-height);
}

@media only screen and (max-width: 1124px) {
    .dropdown-label {
        display: none;
    }
}

.accent-icon-outer {
    width: 24px;
    height: 24px;
    border: 3px solid $menu-bar-foreground;
    border-radius: 100%;
    box-sizing: border-box;
    transform-origin: center;
    transform: scale(90%);
}

.disabled {
    opacity: 0.5;
}
.disabled img {
    filter: grayscale(100%);
}

.open-link {
    margin-left: 0.5rem;
}
