@import "../../css/colors.css";
@import "../../css/default-colors.css";
@import "../../css/units.css";
@import "../../css/typography.css";
@import "../../css/z-index.css";

.modal-content {
    outline: none;
    border: .25rem solid $ui-white-transparent;
    padding: 0;
    border-radius: $radius;
    user-select: none;
    width: 50rem;

    color: $text-primary;
    overflow: hidden;
}

.modal-content p {
    margin-bottom: 1em;
}

.modal-header {
    display: none;
}

.illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 17.5rem;
    background-color: rgb(0, 183, 255);
}

[dir="rtl"] .illustration {
    transform: scaleX(-1);
}

.illustration img {
    height: 17.5rem;
    width: auto;
}

.body {
    background: $ui-modal-background;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.title {
    text-align: center;
}

.button {
    background-color: $motion-primary;
    color: white;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
    font-weight: 700;
    display: block;
}
.button-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
}

.dont-show-again-area {
    text-align: left;
}
.dont-show-again-area input[type="checkbox"] {
    margin-right: 5px;
}

.canary-warning {
    line-height: 1.5em;
    padding: 0.5rem;
    margin-bottom: 1em;
    border-radius: 0.5rem;
    border: 1px solid #ff52526e;
    background-color: #ff525240;
}

.canary-warning p {
    margin-bottom: 0;
}